<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
 <form action="/team" method="post">
    <label for="name">Team name:</label>
    <input type="text" id="name" name="Team Name"><br><br>
    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="Coach"><br><br>
    <label for="pg">Point Guard:</label>
    <input type="text" id="pg" name="Point Guard"><br><br>
    <label for="sg">Shooting Guard:</label>
    <input type="text" id="sg" name="Shooting Guard"><br><br>
    <label for="pf">Power Forward:</label>
    <input type="text" id="pf" name="Power Forward"><br><br>
    <label for="sf">Small Forward:</label>
    <input type="text" id="sf" name="Small Forward"><br><br>
    <label for="c">Center:</label>
    <input type="text" id="c" name="Center"><br><br>
    <input type="submit" id="Submit">
 </form>
 </body>
</html>


