<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <%@result.each do |k,v|%>
 <%if k == "name"%>
 <h1> <b> <%= "#{k}: #{v}" %> </b> </h1>
 <%else%>
  <p> <b> <%= "#{k}: #{v}" %> </b> </p>
  <%end%>
 <%end%>
 </body>
</html>


